replicaCount: 2

image:
  repository: santosfael/api-proffy
  pullPolicy: Always
  tag: "6dde19d"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 3333

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

# livenessProbe:
#   httpGet:
#     path: /
#     port: http
# readinessProbe:
#   httpGet:
#     path: /
#     port: http

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 4
  # targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 75

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
